
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(196, 188, 188);
    color: #000;
    display: flex;
    flex-direction: column;
  }
  
  .nav {
    background-color: rgb(167, 167, 13);
    width: 100%;
    padding: 0.5rem 0;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  
  .nav li {
    display: flex;
    align-items: center;
  }
  
  .nav img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }
  
  .nav a {
    color: #042326;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s ease;
  }
  
  .nav a:hover {
    color: rgb(145, 147, 26);
    background-color: rgb(196, 188, 188);
    padding: 4px 8px;
    border-radius: 6px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }  
  .contenido {
    flex: 1;
    text-align: center;
    padding: 3rem 1rem;
  }
  
  .contenido img {
    border-radius: 50%;
    margin: 1rem 0;
  }
  
  button {
    background-color: rgb(167, 167, 13);
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    transition: transform 0.2s, background 0.2s;
  }
  
  button:hover {
    transform: translateY(-2px);
    background-color: #c3b900;
  }
  
  button a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .redes {
    width: 22px;
    height: 22px;
  }
  
  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
  }
  
  footer h2 {
    margin-bottom: 1rem;
  }
  
  
  .news-section {
    width: 90%;
    margin: 50px auto;
  }
  
  .news-section h2 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .news-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
  }
  
  .news-card {
    text-decoration: none;
    color: inherit;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  
  .news-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .news-card h3 {
    font-size: 17px;
    line-height: 1.3;
    font-weight: normal;
  }

  #imgArticulos {
    width: 550px;
    height: 450px;
    object-fit: contain;

  }
  #articulo {
    max-width: 900px;        /* ancho máximo para que no se extienda demasiado */
    margin: 40px auto;       /* centra horizontalmente y da espacio arriba/abajo */
    padding: 20px;
    border-radius: 10px;     /* esquinas redondeadas */
  }
  